<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">En route, moussaillon</h5>
            <%= form_tag url_for(action: 'create'), method: "post", class: "form-signin" do %>

          <div class="form-label-group">
                <%= email_field_tag 'email', @email, class: "form-control", id: "inputEmail", placeholder: "Email"  %>
              </div>

          <div class="form-label-group">
              <%= text_field_tag 'password', @password, class: "form-control", id: "inputPassword", placeholder: "Mot de Passe" %>
          </div>
          <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Se souvenir de moi</label>
            </div>

          <div class="form-group">
            <%= submit_tag "Connexion", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
          </div>

          <hr class="my-4">
          <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Se connecter avec Google</button>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Se connecter avec Facebook</button>

          </div>
        </div>
      </div>
    </div>
    <% end %> 
  </div>